opencv-python==4.8.0.74
mediapipe==0.10.8
pyautogui==0.9.54
SpeechRecognition==3.10.0
pyaudio==0.2.13
pyttsx3==2.90
numpy==1.23.5  
comtypes==1.4.16
screen-brightness-control==0.27.0
pycaw==20251023
 
       